<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>NoiseTree</string>
		<string>NoiseDrawer</string>
		<string>MazeDraw</string>
		<string>Sprite2D</string>
		<string>BasicMazeProg</string>
		<string>MazeCreatorProg</string>
		<string>MazeDrawProgram</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>Documents:AxisPad</string>
	</array>
</dict>
</plist>
